/*Цвета*/
$title: #ffc5f6;
$text: #ffff;
$progress-bar-main: #e43397;
$progress-bar-back: #edf0f2;

/*Размеры шрифта*/
$h1-title: 4.5em;
$h2-title: 2em; 

/*Брейкпоинты медиазапроса*/
$mobile: 376px;
$mobile-middle: 525px;
$mobile-large: 767px;
$tablet: 1024px;

$tabled-padding: 20px;
$mobile-padding: 15px;